/vendor/
/var/
/.env
.env.local
.env.*.local
/.idea/
/.phpunit.result.cache
/node_modules/
/public/build/
/node_modules/
/.pnp.*
.pnp.js
.DS_Store
npm-debug.log
yarn-error.log
pnpm-debug.log
composer.lock
package-lock.json
